@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Paytone+One&display=swap');

:root {
  --primary-hex: #759e80;
  --primary-content-hex: #d1e0d5;
}

html, body {
  overflow-x: hidden;
}

[data-theme="paymentDark"] .canInvert {
  filter: invert(1);
}
/* Custom styles for image blur */
.hover-blur img {
  filter: blur(0); /* Initial blur amount */
  transition: filter 0.5s;
}

.hover-blur:hover img {
  filter: blur(5px); /* Amount of blur on hover */
}

/* Custom styles for text on hover */
.hover-text {
  opacity: 0;
  transition: opacity 0.5s;
}

.hover-blur:hover .hover-text {
  opacity: 1;
}